.suggestion:last-child {
    border-bottom: none;
}

#suggestions::-webkit-scrollbar {
    width: 6px;
}
#suggestions::-webkit-scrollbar-track {
    background: transparent;
}
#suggestions::-webkit-scrollbar-thumb {
    background: #1193d4;
    border-radius: 10px;
}
